body {
    background-color: white;
}

body.login-page .main-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

body:not(.login-page) .main-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.custom-container {
    width: 100%;
    max-width: 95%; /* Atur persentase sesuai kebutuhan */
    margin: 0 auto; /* Center align the container */
    padding: 0 15px;
}