/* Other Css */
@import url(./sidebar.css);
@import url(./navbar.css);

/* for layout app css */
*{
    box-sizing: border-box;
}
body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
}
body.login-page .main-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

body:not(.login-page) .main-content {
    margin-top: 80px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}

/*untuk tabel daftar arsip*/
.custom-container {
    width: 100%;
    max-width: 95%; 
    margin: 0 auto; 
    padding: 0 15px;
}

body:not(.login-page) .home-section{
  position: relative;
  top: 100;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
  background-attachment: fixed;
  min-height: 100vh;
  left: 78px;
  width: calc(100% - 78px);
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}

/* Faded effect */
.faded-content {
  opacity: 0.3;
  transition: opacity 0.2s ease;
  user-select: none;
}

/* link with button*/
.btnlink{
  text-decoration: none; 
  color: whitesmoke;
}


/* Datatable JS Filter */
.column-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
}

.column-filter select {
  width: 60%; /* Adjust as needed */
  height: 1.8rem;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid #ced4da;
  background-color: aliceblue;
}

.column-filter button {
  margin: 5px 0 10px 5px;
}