/* Other Css */
@import url(./sidebar.css);
@import url(./navbar.css);
@import url(./footer.css);

/* for layout app css */
*{
    box-sizing: border-box;
}
body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
}
body.login-page .main-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

body:not(.login-page) .main-content {
    margin-top: 80px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}

/*untuk tabel daftar arsip*/
.custom-container {
    width: 100%;
    max-width: 95%; 
    margin: 0 auto; 
    padding: 0 15px;
}

body:not(.login-page) .home-section{
  position: relative;
  top: 100;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
  background-attachment: fixed;
  min-height: 100vh;
  left: 78px;
  width: calc(100% - 78px);
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}

/* Faded effect */
.faded-content {
  opacity: 0.3;
  transition: opacity 0.2s ease;
  user-select: none;
}

/* link with button*/
.btnlink{
  text-decoration: none; 
  color: whitesmoke;
}

/*search*/
input[type="search"] {
  height: 2rem;
}

/* Datatable JS Filter */
.column-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  margin: 5px 0;
}

.column-filter select {
  width: 60%; /* Adjust as needed */
  height: 2rem;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid #ced4da;
  background-color: aliceblue;
  margin: 5px 5px 5px 0;
  padding-top: 0.2rem;
  padding-bottom: 0; 
  text-overflow: ellipsis;
}

.column-filter button {
  margin: 5px 0 5px 5px;
  height: 2rem;
  display: flex;
  align-items: center;
}
.modal-table{
  border-radius: 10px;

}
.modal-table .row .col{
  border-bottom: #e5e8eb 1px solid;
  padding-top: 0.2rem;
}
.modal-table .row .col.mth{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  font-weight: bold;
  
}
.modal-table .row .col.mtc{
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  background-color: #ffffff;
}
.modal-table .row.action{
  border-bottom: none;
}
