/* Other Css */
@import url(./sidebar.css);
@import url(./navbar.css);
@import url(./mobile.css);
@import url(./footer.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* for pc layout app css */
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    background: #f8f9fa;
}
body.login-page .main-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
body:not(.login-page) .home-section{
  position: relative;
  min-height: calc(100vh - 80px);
  left: 78px;
  width: calc(100% - 78px);
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
body:not(.login-page) .main-content {
    margin-top: 80px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/*container tabel daftar arsip*/
.custom-container {
    width: 100%;
    max-width: 95%; 
    margin: 0 auto; 
    padding: 1.5rem;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body:not(.login-page) .home-section{
  position: relative;
  background: #f8f9fa;
  background-color: #f8f9fa;
  background-attachment: fixed;
}

/* boxes pattern */
.boxes-pattern {
  background-image: linear-gradient(90deg, #ccc 1px, transparent 1px), linear-gradient(180deg, #ccc 1px, transparent 1px);
  background-size: 60px 60px; 
  background-color: #f1f3f5;
}

/* Faded effect */
.faded-content {
  opacity: 0.3;
  transition: opacity 0.2s ease;
  user-select: none;
}

/* link with button*/
.btnlink{
  text-decoration: none; 
  color: whitesmoke;
}

/*search*/
input[type="search"] {
  height: 2rem;
}

/* Datatable JS Filter */
.column-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  margin: 5px 0;
}

.column-filter select {
  width: 60%; /* Adjust as needed */
  height: 2rem;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid #ced4da;
  background-color: aliceblue;
  margin: 5px 5px 5px 0;
  padding-top: 0.2rem;
  padding-bottom: 0; 
  text-overflow: ellipsis;
}

.column-filter button {
  margin: 5px 0 5px 5px;
  height: 2rem;
  display: flex;
  align-items: center;
}

/* Custom Modal Table */
.mtable {
  width: 95%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}
.mtr{
  display: table-row;
  border-bottom: 1px solid #ddd;
}
.mth, .mtd {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
  display: table-cell;
}
.mth {
  font-weight: bold; 
  background-color: #f2f2f2;
}

.mtr:hover {
  background-color: #f2f2f2;
}




